[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.162"
python-dotenv = "*"
pypdf4 = "*"
pdfplumber = "*"
chromadb = "*"
openai = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.10"
